<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Productos en los carritos</h1>
    <ul>
        {{#each carts}}
            <li>
                <strong>Carrito {{id}}</strong>
                <ul>
                    {{#each products}}
                        <li>{{this.title}} - {{this.price}}</li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
</body>
</html>
